<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prprv.spring.mybatis.mapper.SelectMapper">
    <!-- User selectUserById(@Param("id") Integer id); -->
    <select id="selectUserById" resultType="User">
        select * from t_user where id = #{id}
    </select>

    <!-- List<User> selectAllUser(); -->
    <select id="selectAllUser" resultType="User">
        select * from t_user
    </select>

    <!-- Integer selectCount(); -->
    <select id="selectCount" resultType="Integer">
        select count(*) from t_user
    </select>

    <!-- Map<String, Object> selectUserByIdToMap(@Param("id") Integer id); -->
    <select id="selectUserByIdToMap" resultType="Map">
        select * from t_user where id = #{id}
    </select>

    <!-- List<Map<String, Object>> selectAllUserToMap(); -->
    <select id="selectAllUserToList" resultType="Map">
        select * from t_user
    </select>

    <!--
        大Map里放小Map
        @MapKey("id")
        Map<String, Object> selectAllUserToMap();
    -->
    <select id="selectAllUserToMap" resultType="Map">
        select * from t_user
    </select>
</mapper>